# Problem 2

In [1]:
library(glue)
library(dplyr)
library(readr)
library(ggthemes)
library(tidyr)
library(hrbrthemes)
library(viridis)
library(ggplot2)
library(ggpubr)

Warning message:
"pakiet 'glue' został zbudowany w wersji R 4.2.2"
Warning message:
"pakiet 'dplyr' został zbudowany w wersji R 4.2.2"

Dołączanie pakietu: 'dplyr'


Następujące obiekty zostały zakryte z 'package:stats':

    filter, lag


Następujące obiekty zostały zakryte z 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"pakiet 'readr' został zbudowany w wersji R 4.2.2"
Warning message:
"pakiet 'ggthemes' został zbudowany w wersji R 4.2.2"
Warning message:
"pakiet 'tidyr' został zbudowany w wersji R 4.2.2"
Warning message:
"pakiet 'hrbrthemes' został zbudowany w wersji R 4.2.2"
NOTE: Either Arial Narrow or Roboto Condensed fonts are required to use these themes.

      Please use hrbrthemes::import_roboto_condensed() to install Roboto Condensed and

      if Arial Narrow is not on your system, please see https://bit.ly/arialnarrow

Warning message:
"pakiet 'viridis' został zbudowany w wersji R 4.2.2"
Ładowanie wymaganego pakietu: viridisLite

Warning message:
"pakiet 'viridisLite' został zbudowany w wersji R 4.2.2"
Warning message:
"pakiet 'ggplot2' został zbudowany w wersji R 4.2.2"
Warning message:
"pakiet 'ggpubr' został zbudowany w wersji R 4.2.2"

In [12]:
mieso <- read.csv("data/mieso.csv", header = TRUE, sep = ",")
nabial <- read.csv("data/nabial.csv", header = TRUE, sep = ",")
pieczywo <- read.csv("data/pieczywo.csv", header = TRUE, sep = ",")
slodycze <- read.csv("data/slodycze.csv", header = TRUE, sep = ",")
tluszcze <- read.csv("data/tluszcze.csv", header = TRUE, sep = ",")
warzywa <- read.csv("data/warzywa.csv", header = TRUE, sep = ",")

In [13]:
head(mieso)

  Period  Austria Belgium Bulgaria Cyprus Czech.Republic
1 2022Oct 130.72  121.85  152.40   112.24 143.5
2 2022Sep 130.21  119.43  150.91   111.41 141.1
3 2022Aug 129.28  119.46  147.85   109.68 141.2
4 2022Jul 128.28  118.66  145.16   108.42 140.9
5 2022Jun 127.91  116.58  144.45   107.84 138.6
6 2022May 125.80  114.42  143.33   107.60 134.6
  EU..changing.composition. Germany Denmark Estonia ⋯ Luxembourg Latvia Malta
1 130.05                    142.0   125.2   142.96  ⋯ 129.74     146.30 128.51
2 128.68                    141.2   124.5   139.93  ⋯ 128.92     145.25 127.47
3 127.63                    139.9   125.3   136.92  ⋯ 128.48     141.17 126.59
4 126.46                    139.4   125.7   135.19  ⋯ 127.73     141.58 126.54
5 125.24                    138.7   123.2   133.73  ⋯ 127.42     138.28 125.56
6 123.49                    136.6   117.8   127.16  ⋯ 125.56     135.30 123.77
  Netherlands Poland Portugal Romania Sweden Slovenia Slovakia
1 137.21      153.9  131.78   137.91  132.25 139.40   151.39
2 136.24      152.2  130.69   136.38  132.02 138.60   148.80
3 136.99      148.4  130.32   134.94  132.43 137.80   144.41
4 135.14      146.8  128.41   133.07  133.09 137.47   141.99
5 134.68      145.8  127.44   132.00  131.08 136.58   139.88
6 132.01      145.8  126.51   130.49  125.59 134.07   135.37

In [17]:
# tidy
mieso_tidy <- mieso |> pivot_longer(-Period, names_to = "kraj", values_to = "cena")
nabial_tidy <- nabial |> pivot_longer(-Period, names_to = "kraj", values_to = "cena")
pieczywo_tidy <- pieczywo |> pivot_longer(-Period, names_to = "kraj", values_to = "cena")
slodycze_tidy <- slodycze |> pivot_longer(-Period, names_to = "kraj", values_to = "cena")
tluszcze_tidy <- tluszcze |> pivot_longer(-Period, names_to = "kraj", values_to = "cena")
warzywa_tidy <- warzywa |> pivot_longer(-Period, names_to = "kraj", values_to = "cena")

In [20]:
# type column
mieso_tidy["typ"] = "mieso"
nabial_tidy["typ"] = "nabial"
pieczywo_tidy["typ"] = "pieczywo"
slodycze_tidy["typ"] = "slodycze"
tluszcze_tidy["typ"] = "tluszcze"
warzywa_tidy["typ"] = "warzywa"

In [23]:
# Concatenate the dataframes
zywnosc_tidy <- rbind(mieso_tidy, nabial_tidy, pieczywo_tidy, slodycze_tidy, tluszcze_tidy, warzywa_tidy)

In [24]:
zywnosc_tidy

      Period  kraj                      cena   typ
1     2022Oct Austria                   130.72 mieso
2     2022Oct Belgium                   121.85 mieso
3     2022Oct Bulgaria                  152.40 mieso
4     2022Oct Cyprus                    112.24 mieso
5     2022Oct Czech.Republic            143.50 mieso
6     2022Oct EU..changing.composition. 130.05 mieso
7     2022Oct Germany                   142.00 mieso
8     2022Oct Denmark                   125.20 mieso
9     2022Oct Estonia                   142.96 mieso
10    2022Oct Spain                     122.80 mieso
11    2022Oct Finland                   127.89 mieso
12    2022Oct France                    123.05 mieso
13    2022Oct Greece                    121.17 mieso
14    2022Oct Croatia                   124.89 mieso
15    2022Oct Hungary                   158.06 mieso
16    2022Oct Ireland                   104.60 mieso
17    2022Oct Italy                     118.70 mieso
18    2022Oct Lithuania                 145.64 mieso
19    2022Oct Luxembourg                129.74 mieso
20    2022Oct Latvia                    146.30 mieso
21    2022Oct Malta                     128.51 mieso
22    2022Oct Netherlands               137.21 mieso
23    2022Oct Poland                    153.90 mieso
24    2022Oct Portugal                  131.78 mieso
25    2022Oct Romania                   137.91 mieso
26    2022Oct Sweden                    132.25 mieso
27    2022Oct Slovenia                  139.40 mieso
28    2022Oct Slovakia                  151.39 mieso
29    2022Sep Austria                   130.21 mieso
30    2022Sep Belgium                   119.43 mieso
⋮     ⋮       ⋮                         ⋮      ⋮
54067 1996Feb Slovenia                     NA  warzywa
54068 1996Feb Slovakia                  50.76  warzywa
54069 1996Jan Austria                   75.97  warzywa
54070 1996Jan Belgium                   68.36  warzywa
54071 1996Jan Bulgaria                     NA  warzywa
54072 1996Jan Cyprus                    48.39  warzywa
54073 1996Jan Czech.Republic               NA  warzywa
54074 1996Jan EU..changing.composition. 67.21  warzywa
54075 1996Jan Germany                   89.20  warzywa
54076 1996Jan Denmark                   83.40  warzywa
54077 1996Jan Estonia                   46.91  warzywa
54078 1996Jan Spain                     52.64  warzywa
54079 1996Jan Finland                   65.95  warzywa
54080 1996Jan France                    70.84  warzywa
54081 1996Jan Greece                    60.90  warzywa
54082 1996Jan Croatia                      NA  warzywa
54083 1996Jan Hungary                      NA  warzywa
54084 1996Jan Ireland                   84.00  warzywa
54085 1996Jan Italy                     62.30  warzywa
54086 1996Jan Lithuania                 83.66  warzywa
54087 1996Jan Luxembourg                62.18  warzywa
54088 1996Jan Latvia                    38.71  warzywa
54089 1996Jan Malta                     51.41  warzywa
54090 1996Jan Netherlands               69.81  warzywa
54091 1996Jan Poland                    55.30  warzywa
54092 1996Jan Portugal                  63.21  warzywa
54093 1996Jan Romania                      NA  warzywa
54094 1996Jan Sweden                    73.46  warzywa
54095 1996Jan Slovenia                     NA  warzywa
54096 1996Jan Slovakia                  53.04  warzywa